<h1>Store Details</h1>

<%= link_to 'Back', stores_path %>

<p><%= @store['name'] %> - ID <%= @store['id'] %></p>

<%= @store['address_line_1'] %></br>
<%= @store['address_line_2'] %></br>
<%= @store['city'] %></br>
<%= @store['postal_code'] %></br>
Telephone: <%= @store['telephone'] %></br>
