<h1>Product Details</h1>

<%= link_to 'Back', products_path %>

<p><%= @product['name'] %> - <%= format_numbers @product['alcohol_content'] %>%</p>

<%= @product['primary_category'] %>
<%= @product['secondary_category'] %>
<%= @product['origin'] %>

<p>
$<%= format_numbers(@product['price_in_cents']) %> for 
<%= @product['package'] %></p>


<%= image_tag @product['image_url'] %>
